@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F6F7F9;
}


header {
    height: 100px;
    border: 1px;
    border-color: #C3D4E966;
    background-color: #fff;
    padding: 20px;
    width: 100%;
}

.main-part {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.favority {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;

}

#search {
    margin-left: 40px;
    width: 492px;
    height: 44px;
    top: -10px;
    left: 272px;
    border-radius: 70px;
    border: 1px solid #C3D4E966;
    outline: none;
}

input {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.02em;
    text-align: justify;
    padding-left: 50px;
}

.input-class {
    position: relative;
}

.img-filter {
    position: absolute;
    left: 60px;
    top: 10px;
    cursor: pointer;
}

.img-search {
    position: absolute;
    right: 20px;
    top: 10px;
}

.circle {
    width: 44px;
    height: 44px;
    gap: 20px;
    border: 1px solid #90a3bf49;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/*****************************************/

/*ul li {
    list-style: none;
    margin-bottom: 5px;
    width: 492px;
    padding-left: 50px;
    background-color: #fff;
}*/
.list {
    width: 90%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px #ddd;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-left: 40px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    color: #90a3bf49;
    
}

.Link-name{
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 10px;
    padding-left: 20px;
}
.list div:hover {
    background-color: #efefef;
    text-decoration: none;
    border-radius: 10px;
}

.icon{
    width: 16px;
    height: 16px;
    margin-right: 8px;
}